    @font-face {
        font-family: 'karla';
        src: url('../fonts/static/Karla-Regular.ttf');
    }
    
    html::-webkit-scrollbar {
        width: .8rem;
        border-radius: 10px;
    }
    
    html::-webkit-scrollbar-thumb {
        background-color: rgb(29, 197, 29);
        overflow-x: hidden;
        border-radius: 10px;
    }
    
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: 'karla';
        text-decoration: none;
        outline: none;
    }
    
    html {
        overflow-x: hidden;
    }
    
    body {
        overflow-x: hidden;
        background-color: rgb(37, 36, 36);
    }
    
     ::selection {
        background-color: rgb(29, 197, 29);
        color: #eee;
    }
    
    #home {
        transition: 1s cubic-bezier();
        padding-top: 50px;
    }
 
    nav {
        font-family: 'karla';
        position: fixed;
        height: 60%;
        top: 50%;
        left: -10%;
        transform: translateY(-50%);
        margin-left: -20px;
        z-index: 9999;
        opacity: 0;
        transition: 1s cubic-bezier(0.25, 0.46, 0.45, 0.94);

    }
    nav.show{
        opacity: 1;
        left: 0;

    }
    
    nav ul {
        padding: 0 10px;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;
        list-style: none;
    }
    
    nav ul li {
        padding: 5px;
        border-radius: 10px;
    }
    
    nav ul li a {
        display: block;
        width: 140px;
        text-align: center;
        color: #fff;
        padding: 6px;
        border-radius: 10px;
        background-color: rgb(29, 197, 29);
        transition: .4s;
        font-size: 16px;
    }
    
    nav ul li a:hover {
        color: #444;
        background-color: rgb(142, 202, 142);
        margin-left: 20px;
        box-shadow: 0 0 4px 4px rgb(29, 197, 29);
    }
    
    .container {
        width: 70%;
        margin: 0 auto;
    }
    
    section {
        min-height: 100vh;
        padding: 1rem 1rem;
        width: 100%;
    }
    
    .profil {
        width: 300px;
        margin: 20px auto;
        color: #ddd;
        text-align: center;
        opacity: 0;
    }
    .profil.show{
        opacity: 1;
        transition: 1s .3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    }
    
    .profil img {
        width: 200px;
        height: 200px;
        border-radius: 50%;
        border: 2px solid rgb(29, 197, 29);
    }
    
    .profil h1 {
        font-size: 26px;
        margin: 5px 0;
    }
    
    .greeting {
        padding: 10px;
        border-top: 5px solid rgb(29, 197, 29);
        margin: 20px auto;
        width: 50%;
        color: #ddd;
        background-color: rgb(19, 18, 18);
        border-radius: 20px;
        text-align: left;
        transform: scale(0);
        opacity: 0;
        transition: 2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    }
    .greeting.show{
        transform: scale(1);
        opacity: 1;
        transition: 1.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    }
    
    .greeting h3,
    .greeting h4 {
        margin: 10px 0;
        text-align: left;
    }
    
    .cv {
        display: block;
        width: 150px;
        text-align: center;
        color: #fff;
        padding: 6px;
        border-radius: 10px;
        background-color: rgb(29, 197, 29);
        transition: .4s;
        font-size: 16px;
        margin-top: 20px;
    }
    
    .cv:hover {
        color: #444;
        background-color: rgb(142, 202, 142);
    }
    
    section .container h2 {
        text-align: center;
        font-size: 35px;
        color: #fff;
        border-bottom: 3px solid rgb(29, 197, 29);
        padding: 20px;
    }
    
    section .container h2 span {
        color: rgb(142, 202, 142);
    }
    
    .dataexp {
        margin: 20px 0;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    
    .dataexp .data {
        margin: 10px;
        transform: translateX(-200px);
        opacity: 0;
        transition: 1.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    }
    .dataexp .data.show{
        transform: translateX(0);
        opacity: 1;
    }
    
    .dataexp .data h4 {
        color: #fff;
        font-weight: 300;
        margin: 20px 0;
    }
    
    .dataexp .data h4 span {
        color: rgb(142, 202, 142);
        font-weight: 300;
    }
    
    .dataexp .exp {
        width: 50%;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        flex-direction: row;
    }
    
    .dataexp .exp .box {
        text-align: center;
        width: 190px;
        background-color: rgb(19, 18, 18);
        margin: 10px;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        opacity: 0;
        transition: 1s;
    }
    .dataexp .exp .box.left{
        transform: translateX(-150px);
    }
    .dataexp .exp .box.right{
        transform: translateX(150px);
    }
    .dataexp .exp .box.show{
        transform: translateX(0);
        opacity: 1;
    }
    
    .dataexp .exp .box h1 {
        font-size: 40px;
        color: rgb(29, 197, 29);
        margin: 0;
    }
    
    .dataexp .exp .box h5 {
        color: #fff;
        font-weight: 400;
        margin: 0;
    }
    
    section .container .counter {
        margin: 20px 0;
        width: 50%;
        border-right: 4px solid rgb(29, 197, 29);
    }
    
    section .container .counter .c1 .box {
        width: 100%;
        margin-bottom: 50px;
        position: relative;
       opacity: 0;
        transition: 1.2s;
    }
    
    .circle {
        position: absolute;
        display: block;
        height: 70px;
        width: 70px;
        border-radius: 50%;
        background-color: rgb(29, 197, 29);
        right: -35PX;
        top: 0PX;
    }
    .left{
        right: -200px;
    }
    .right {
        margin-left: 101%;
        left: -200px;
        width: 100%;
    }
    .counter .c1 .box.right.show{
        transform: translateX(200px);
        opacity: 1;
    }
    .counter .c1 .box.left.show{
        transform: translateX(-200px);
        opacity: 1;
    }
    .right h1 {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }
    
    .right h4 {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }
    
    .right .circle {
        position: absolute;
        left: -35px;
    }
    
    section .container .counter .c1 {
        display: flex;
        flex-direction: column;
    }
    
    section .container .counter .box h1 {
        margin: 10px 0;
        border-bottom: 4px solid rgb(29, 197, 29);
        color: rgb(142, 202, 142);
    }
    
    section .container .counter .box h4 {
        margin-bottom: 0;
        color: #fff;
    }
    
    .box-container {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        padding: 2rem 0;
    }
    
    .box-container .kotak {
        height: 10rem;
        width: 15rem;
        margin: 2rem;
        overflow: hidden;
        border-radius: 1rem;
        cursor: pointer;
        position: relative;
        opacity: 0;
        transition: 1.2s;
    }
    .kotak.satu{
        transform: translateY(-200px);
    }
    .kotak.dua{
        transform: translateY(200px);
    }
    .kotak.show{
        transform: translateY(0);
        opacity: 1;
    }
    .box-container .kotak img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: 1s;
    }
    
    .box-container .kotak img:hover {
        transform: scale(1.2);
    }
    
    .wadah{
        margin: 20px 0;
        display: flex;
    }
    .yt{
        width: 100%;
        display: flex;
        flex-direction: row;
       
        
    }
    .player{
        width: 500px;
        height: 350px;
        border : 3px solid rgb(252, 142, 142) ;
        border-radius: 5px;
        transform: translateX(300px);
        opacity: 0;
        transition: .5s;
    }
    .channel{
        margin: 0 30px;
        transform: translateX(-300px);
        transition: 1s;
        opacity: 0;
    }
    .player.show{
        transform: translateX(0);
        opacity: 1;
    }
    .channel.show{
        transform: translateX(0);
        opacity: 1;
    }
    .channel h3{
        font-size: 24px;
        color: #fff;
        margin: 10px 0;
    }
    .channel h3 i{
        color: rgb(142, 202, 142);
    }
    .channel p{
        margin: 10px 0;
        color: #fff;
    }
    .channel .subs{
        color: rgb(142, 202, 142);
    }
    .subs a{
        font-size: 18px;
        font-weight: 500;
        display: block;
        padding: 8px 0;
        background: red;
        border-radius: 6px;
        color: #fff;
        text-align: center;
        text-decoration: none;
        transition: all 0.4s ease;
        margin: 10px 0;
        width : 150px;
    }
    .subs a:hover{
        background-color: #03bde2;
    }
    .channel h4{
        color: #fff;
    }
    .channel h4 span{
        color: rgb(142, 202, 142);
    }
  
    .deskripsi{
        font-style: italic;
        font-weight: 200;
    }
    .row {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
    }
    
    .row form {
        flex: 1;
        padding: 2rem;
        margin: 1rem;
        margin-bottom: 4rem;
        display: flex;
        flex-direction: column;
        opacity: 0;
        transition: 1s;
    }
    .row form.show{
        opacity: 1;
    }

    
    .row form .box {
        padding: 1rem;
        margin: 1rem 0;
        background: rgb(19, 18, 18);
        border: 1px solid #3c5c5c;
        color: #ddd;
        width: 100%;
        border-radius: 5px;
    }
    
    .row form .message {
        border-radius: 5px;
        margin: 1rem 0;
        height: 15rem;
        border: 1px solid #3c5c5c;
        resize: none;
        background-color: rgb(19, 18, 18);
        padding: 1rem;
        color: #ddd;
    }
    
    .row form .box::placeholder {
        text-transform: capitalize;
        color: #fff;
    }
    
    .row form .message::placeholder {
        text-transform: capitalize;
        color: #fff;
    }
    
    .row form .btn {
        width: 40%;
        padding: 1rem 1rem;
    }
    
    .alert {
        background: #03a679;
        color: #f0f0f0;
        font-size: 18px;
        padding: 6px;
        border-radius: 5px;
        display: flex;
        justify-content: space-between;
    }
    
    .close {
        position: relative;
        right: 0;
        display: block;
        font-weight: bold;
        margin: 0 4px;
        transition: .3s;
    }
    
    .close:hover {
        cursor: pointer;
        color: #abb6b3;
    }
    
    .button {
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    
    .btn {
        flex-direction: row;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: .7rem .7rem;
        background-color: rgb(29, 197, 29);
        cursor: pointer;
        margin-top: 1rem;
        font-size: 1rem;
        border-radius: 3rem;
        color: #ddd;
        outline: none;
        border: none;
        position: relative;
        float: left;
        height: 3rem;
        transition: .3s;
    }
    
    .btn:hover {
        color: #444;
        background-color: rgb(142, 202, 142);
    }
    
    .btn.loading {
        width: 100px;
        height: 100px;
        border-radius: 50%;
        color: rgb(142, 202, 142);
        background-color: transparent;
        font-size: 12px;
    }
    
    .btn.loading:hover {
        background-color: transparent;
    }
    
    #circle1 {
        color: rgb(142, 202, 142);
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
        height: 50px;
        width: 50px;
        margin: -25px 0 0 -25px;
        border: 4px rgb(142, 202, 142) solid;
        border-top: 4px rgb(142, 202, 142);
        border-bottom: 4px rgb(142, 202, 142);
        border-radius: 50%;
        -webkit-animation: spin1 1s infinite linear;
        animation: spin1 1s infinite linear;
       
    }
    #circle1 h5{
     
        color: rgb(142, 202, 142);
    }
    
    @-webkit-keyframes spin1 {
        from {
            -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
        }
        to {
            -webkit-transform: rotate(359deg);
            transform: rotate(359deg);
        }
    }
    
    @keyframes spin1 {
        from {
            -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
            -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
        }
        to {
            -webkit-transform: rotate(359deg);
            transform: rotate(359deg);
            -webkit-transform: rotate(359deg);
            transform: rotate(359deg);
        }
    }
    
    .d-none {
        display: none;
    }
    
    .content{
        opacity: 0;
        transition: 1s;
    }
    .content.show{
        opacity: 1;
    }
    .content h3.title {
        color: rgb(142, 202, 142);
        text-transform: uppercase;
        font-size: 28px;
    }
    
    .content h3 {
        color: #ddd;
        margin: 10px;
    }
    
    .content h3 i {
        color: rgb(142, 202, 142);
    }
    .sosmed{
        display: flex;
        flex-direction: column;
        position: fixed;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        justify-content: space-around;
        height: 50%;
        align-items: center;
    }
    .sosmed a{
        display: flex;
        width: 40px;
        height: 40px;
        text-align:center ;
      justify-content: center;
      align-items: center;
        color: #fff;
        background-color: rgb(29, 197, 29);
        font-size: 20px;
        padding: 10px;
        margin: 15px;
        border-radius: 50%;
        transition: .8s;
    }
    .sosmed a:hover{
        background-color: rgb(142, 202, 142);
        transform: scale(1.2);
    }
    #menu {
        text-align: center;
        line-height: 3rem;
        position: fixed;
        width: 3rem;
        height: 3rem;
        background-color: rgb(29, 197, 29);
        top: 2rem;
        right: 2rem;
        color: #ddd;
        cursor: pointer;
        font-size: 1.5rem;
        z-index: 1000;
        border-radius: 1rem;
        display: none;
    }
    
    @media(max-width: 991px) {
        #menu {
            display: block;
            transition: .3s;
        }
        nav ul li {
            transform: translateX(-150px);
            transition: .5s cubic-bezier(0.165, 0.84, 0.44, 1);
            opacity: 0;
        }
        nav ul li.show {
            transform: translateX(0);
            opacity: 1;
        }
        .container {
            width: 90%;
        }
        .greeting {
            width: 100%;
        }
        .dataexp {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        .exp .box {
            height: 100px;
            width: 200px;
        }
        .yt{
            flex-direction: column;
           
          
        }
        .yt .vplayer{
            display: block;
            width: 90%;
            margin: 0 auto;
            height: 300px;
        }
        .player{
            width: 100%;
        
        
        }
    }
    
    @media(max-width: 768px) {
        html {
            font-size: 80%;
        }
        .dataexp .data h4 {
            color: #fff;
            font-weight: 300;
            margin: 20px 0;
            font-size: 15px;
        }
        .box-container .kotak {
            height: 15rem;
            width: 25rem;
            margin: 2rem;
            overflow: hidden;
            border-radius: 1rem;
            cursor: pointer;
            position: relative;
    
        }
        .box h4 {
            display: block;
            
            max-width: 180px;
        }
        .right h4 {
            max-width: 100%;
            display: flex;
            flex-direction: column;
            align-items: flex-end;
        }
        .yt .vplayer{
            display: block;
            width: 90%;
            margin: 0 auto;
            height: 300px;
        }
        .player{
            width: 100%;
            height: 100%;
        
        
        }
        .text-2{
            margin: 15px 0;
        }
    }
    
    @media(max-width: 400px) {
        .box-container .kotak {
            height: 15rem;
            width: 25rem;
            margin: 2rem;
            overflow: hidden;
            border-radius: 1rem;
            cursor: pointer;
            position: relative;
          
            transition: 1s;
        }
        .c1 .box h4 {
           
            font-size: 12px;
        }
        .sosmed{
            flex-direction: row;
            position: static;
        }
      
    }